{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Tableau ALLIANCE</h1>

        <h5>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>
        <form method="get" action="\tableau_alliance\" id="filter-form">
            <label for="decades">Afficher les huitaines:</label>
            <input type="checkbox" name="decades" id="decades" {% if show_decades %}checked{% endif %}>
            <input type="hidden" name="decades_value" id="decades_value" value="{{ show_decades|yesno:'on,off' }}">
            <br><br>
            <label for="annee">Sélectionnez une année :</label>
            <select name="annee" id="annee">
                {% for an in annees %}
                    <option value="{{ an }}" {% if an == annee_selectionnee %}selected{% endif %}>{{ an }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="mois">Sélectionnez un mois :</label>
            <select name="mois" id="mois">
                {% for mo in mois %}
                    <option value="{{ mo }}" {% if mo == mois_selectionne %}selected{% endif %}>{{ mo }}</option>
                {% endfor %}
            </select>
        </form>

        {% if tableau_alliance %}

            <h6>
            </h6>
            
            <table id='tableau_alliance' border="1">
                <thead>
                <tr>
                    {% for categorie in colonnes %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_alliance %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if ligne.0|slice:":1" == '=' %} class="total-month" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <br>
        
        <form method="get" action="\telecharger_releves_alliance\">
            <button type="submit">Télécharger la liste des relevés disponibles</button>
        </form>

        <br><br>
    </div>

    <script>
        document.getElementById('decades').addEventListener('change', function() {
            // Met à jour la valeur du champ caché avant de soumettre le formulaire
            document.getElementById('decades_value').value = this.checked ? 'on' : 'off';
            document.getElementById('filter-form').submit();
        });
        document.getElementById('mois').addEventListener('change', function() {
            // Met à jour la valeur du champ caché avant de soumettre le formulaire
            document.getElementById('filter-form').submit();
        });
        document.getElementById('annee').addEventListener('change', function() {
            // Met à jour la valeur du champ caché avant de soumettre le formulaire
            document.getElementById('filter-form').submit();
        });
    </script>
</body>
</html>