{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Tableau EG</h1>

        <h5>
            Dernier import CERP SAE : {{ dernier_import_cerp }} <br>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>

        <form method="post" action="\tableau_eg\">
            {% csrf_token %}
            <button type="submit">Afficher le tableau</button>
        </form>

        {% if tableau_eg %}

            <h6>Théorique = calculé à partir des % de remises du catalogue.<br>
                Obtenu = calculé à partir des % de remises effectuées sur facture.<br>
                Pour le moment, pas d'informations sur les rattrapages ou remises supplémentaires obtenus sur avoirs exceptionnels.
            </h6>
            
            <table id='tableau_eg' border="1">
                <thead>
                <tr>
                    {% for categorie in colonnes %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_eg %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <br><br>
    </div>

    <script>
        $(document).ready(function() {
            // Remplacez les titres de colonnes que vous souhaitez mettre en gras dans cette liste.
            var columnsToBold = ["GROSSISTE TOTAL HT", "DIFFERENCE REMISE GROSSISTE", "DIRECT TOTAL HT", "DIFFERENCE REMISE DIRECT", "RATTRAPAGE THEORIQUE", "RATTRAPAGE OBTENU"];
            
            // Parcourez la liste des titres de colonnes et mettez en gras chaque colonne correspondante.
            $.each(columnsToBold, function(index, columnTitle) {
                var columnIndex = $("#tableau_eg thead th").filter(function() {
                    return $(this).text() === columnTitle;
                }).index();
    
                // Si l'index est trouvé, ajoutez la classe CSS pour mettre en gras cette colonne.
                if (columnIndex >= 0) {
                    $("#tableau_teva tbody tr").each(function() {
                        $(this).find("td:eq(" + columnIndex + ")").css("font-weight", "bold");
                    });
                }
            });
        });
    </script>
</body>
</html>