{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    <div class="navbar">
        <a href="\">Importer des factures</a>
        <a href="\tableau_synthese\">Tableau Synthèse</a>
        <a href="\tableau_grossiste\">Tableau Grossiste</a>
        <a href="\tableau_simplifie\">Tableau Simplifié</a>
        <a href="\tableau_generiques\">Tableau Génériques</a>
        <a href="\tableau_teva\">Tableau TEVA</a>
        <a href="\upload_catalogue_excel\">Importer un catalogue produit</a>
        <a href="\telecharger_achats\">Télécharger une liste d'achats</a>

        {% if user.is_authenticated %}
            <a href="{% url 'App:logout' %}?next={{ request.path }}">Se déconnecter</a>
        {% endif %}
    </div>

    <div class="content">
        <h1>Tableau simplifié</h1>

        <h5>
            Dernier import CERP SAE : {{ dernier_import_cerp }} <br>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>

        <form method="get" action="\tableau_simplifie\">
            <label for="mois_annee">Sélectionnez un mois :</label>
            <select name="mois_annee" id="mois_annee">
                {% for ma in mois_annees %}
                    <option value="{{ ma }}" {% if ma == mois_annee_selectionne %}selected{% endif %}>{{ ma }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrer">
        </form>

        {% if tableau_simplifie %}

            <h6>Calcul des différences = remise obtenue - remise théorique</h6>

            <table id='tableau_simplifie' border="1">
                <thead>
                <tr>
                    {% for categorie in colonnes %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_simplifie %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or ligne.0|slice:":10" == 'DIFFERENCE' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <script>
        $(document).ready(function() {
            // Remplacez "Titre de la colonne à mettre en gras" par le titre de la colonne que vous souhaitez mettre en gras.
            var columnTitleToBold = "DIFFERENCE OBTENU - THEORIQUE";
        
            // Recherchez l'index de la colonne cible dans les en-têtes.
            var columnIndex = $("#tableau_simplifie thead th").filter(function() {
                return $(this).text() === columnTitleToBold;
            }).index();
        
            // Si l'index est trouvé, ajoutez la classe CSS pour mettre en gras cette colonne.
            if (columnIndex >= 0) {
            $("#tableau_simplifie tbody tr").each(function() {
                $(this).find("td:eq(" + columnIndex + ")").css("font-weight", "bold");
            });
            }
        });
    </script>
</body>
</html>