{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Tableau synthèse</h1>

        <h5>
            Dernier import CERP SAE : {{ dernier_import_cerp }} <br>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>

        <form method="post" action="\tableau_synthese\">
            {% csrf_token %}
            <button type="submit">Afficher le tableau</button>
        </form>

        {% if tableau_synthese_assiette_globale %}

            <h6>Montants HT = montants avant remise, avoirs déduits<br>
                Remise assiette globale théorique = Assiette globale -9% x 2,5%<br>
                Remise assiette globale obtenue 2,5% = ligne spécialités pharmaceutiques des avoirs de remises<br>
                Total remise grossiste théorique = Assiette globale -9% x 2,5% + Parapharmacie x 3,8% + LPP x 3,8% + Nb boites >450€ x 15€ + Avantage commercial<br>
                Avantage commercial = Assiette globale -9% x (3,8% - 2,5%)<br>
                Différences de remises = remise obtenue - remise théorique<br>
                Sous total remise grossiste théorique = somme (assiette globale + LPP + parapharmacie) x 3,8% théorique<br>
                Sous total remise grossiste obtenue = somme (assiette globale + LPP + parapharmacie) x 3,8% obtenue<br>
                Différence sous total remise grossiste = sous total remise grossiste obtenue - sous total remise grossiste théorique<br>
                Total remise grossiste obtenue = somme des remises obtenues : remise spécialités pharmaceutiques (assiette globale) + remise LPP + remise parapharmacie + avantage commercial + remise >450€<br>
            </h6>
            
            <table border="1">
                <thead>
                    <tr>
                        {% for categorie in categories_assiette_globale %}
                            <th class="table-header">{{ categorie }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_assiette_globale %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if tableau_synthese_autres %}
        
            <br>
            <hr>
            <br>

            <h3>Autres catégories</h3>

            <h6>Remises obtenues = remises récupérées sur les factures<br>
            </h6>

            <table border="1">
                <thead>
                <tr>
                    {% for categorie in categories_autres %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_autres %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
</body>
</html>