{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    <div class="navbar">
        <a href="\">Importer des factures</a>
        <a href="\tableau_synthese\">Tableau Synthèse</a>
        <a href="\tableau_simplifie\">Tableau Simplifié</a>
        <a href="\tableau_generiques\">Tableau Génériques</a>
        <a href="\upload_catalogue_excel\">Importer un catalogue produit</a>

        {% if user.is_authenticated %}
            <a href="{% url 'App:logout' %}?next={{ request.path }}">Se déconnecter</a>
        {% endif %}
    </div>

    <div class="content">
        <h1>Tableau synthèse</h1>

        <h5>
            Dernier import CERP SAE : {{ dernier_import_cerp }} <br>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>

        <form method="post" action="\tableau_synthese\">
            {% csrf_token %}
            <button type="submit">Afficher le tableau</button>
        </form>

        {% if tableau_synthese_assiette_globale %}

            <h6>Montants HT = montants avant remise, avoirs déduits<br>
                Remise assiette globale théorique = Assiette globale -9% x 2,5%<br>
                Remise grossiste totale théorique = Assiette globale -9% x 2,5% + Parapharmacie x 3,8% + LPP x 3,8% + Avantage commercial<br>
                Avantage commercial = Assiette globale -9% x (3,8% - 2,5%)<br>
            </h6>
            

            <table border="1">
                <thead>
                <tr>
                    {% for categorie in categories_assiette_globale %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_assiette_globale %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if tableau_synthese_autres %}
        
        <br>
        <hr>
        <br>

        <h3>Autres catégories</h3>

            <table border="1">
                <thead>
                <tr>
                    {% for categorie in categories_autres %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_autres %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
</body>
</html>