{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_tableau.css' %}">
    <title>Application contrôle remises - Pharmacie Michelet</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Tableau synthèse</h1>

        <h5>
            Dernier import CERP SAE : {{ dernier_import_cerp }} <br>
            Dernier import Digipharmacie : {{ dernier_import_digi }}
        </h5>

        <form method="post" action="\tableau_synthese\">
            {% csrf_token %}
            <button type="submit">Afficher le tableau</button>
        </form>

        {% if tableau_synthese_assiette_globale %}

            <h6>Montants HT = montants avant remise, avoirs déduits<br>
                Remise assiette globale théorique = Assiette globale -9% x 2,5%<br>
                Remise assiette globale obtenue 2,5% = ligne spécialités pharmaceutiques des avoirs de remises<br>
                Avantage commercial = Assiette globale -9% x (3,8% - 2,5%)<br>
                Différences de remises = remise obtenue - remise théorique<br>
                Sous total remise grossiste théorique = somme (assiette globale + LPP + parapharmacie) x 3,8% théorique (inclut avantage commercial)<br>
                Sous total remise grossiste obtenue = somme (assiette globale + LPP + parapharmacie) x 3,8% obtenue (inclut avantage commercial)<br>
                Différence sous total remise grossiste = sous total remise grossiste obtenue - sous total remise grossiste théorique<br>
                Total remise grossiste théorique = Assiette globale -9% x 2,5% + Parapharmacie x 3,8% + LPP x 3,8% + Nb boites >450€ x 15€ + Avantage commercial<br>
                Total remise grossiste obtenue = somme des remises obtenues : remise spécialités pharmaceutiques (assiette globale) + remise LPP + remise parapharmacie + avantage commercial + remise >450€<br>
            </h6>

            <div class="column-controls" id="column-controls">
                {% for categorie in categories_assiette_globale %}
                    <div class="checkbox-container">
                        <label><input type="checkbox" class="column-toggle" data-column-index="{{ forloop.counter0 }}" checked>{{ categorie }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="column-controls-buttons">
                <button onclick="checkAll()">Tout cocher</button>
                <button onclick="uncheckAll()">Tout décocher</button>
            </div>

            <table border="1">
                <thead>
                    <tr>
                        {% for categorie in categories_assiette_globale %}
                            <th class="table-header">{{ categorie }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_assiette_globale %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if tableau_synthese_autres %}
        
            <br>
            <hr>
            <br>

            <h3>Autres catégories</h3>

            <h6>Remises obtenues = remises récupérées sur les factures<br>
            </h6>

            <table border="1">
                <thead>
                <tr>
                    {% for categorie in categories_autres %}
                        <th class="table-header">{{ categorie }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for ligne in tableau_synthese_autres %}
                    <tr {% if ligne.0|slice:":5" == 'TOTAL' or not ligne.0 %} class="totaux" {% endif %}
                        {% if "Mois/Année" in ligne.0 %} class="inner-header" {% endif %}>
                        {% for cellule in ligne %}
                            <td>
                                {{ cellule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <script>
        // JavaScript pour gérer le masquage des colonnes
        document.addEventListener("DOMContentLoaded", function() {
            // Récupérer tous les éléments de case à cocher avec la classe "column-toggle"
            var columnToggles = document.querySelectorAll(".column-toggle");

            // Ajouter des écouteurs d'événements à chaque case à cocher
            columnToggles.forEach(function(toggle) {
                toggle.addEventListener("change", function() {
                    // Récupérer l'index de la colonne à masquer ou à afficher
                    var columnIndex = parseInt(toggle.getAttribute("data-column-index"));

                    // Sélectionner toutes les cellules de la colonne avec l'index donné
                    var headerCells = document.querySelectorAll("table th:nth-child(" + (columnIndex + 1) + ")");
                    var cells = document.querySelectorAll("table tr td:nth-child(" + (columnIndex + 1) + ")");

                    // Changer la visibilité des cellules en fonction de l'état de la case à cocher
                    headerCells.forEach(function(headerCell) {
                        if (toggle.checked) {
                            headerCell.classList.remove("hidden-column");
                        } else {
                            headerCell.classList.add("hidden-column");
                        }
                    });

                    cells.forEach(function(cell) {
                        if (toggle.checked) {
                            cell.classList.remove("hidden-column");
                        } else {
                            cell.classList.add("hidden-column");
                        }
                    });
                });
            });
        });

        function checkAll() {
            document.querySelectorAll(".column-toggle").forEach(function(toggle) {
                toggle.checked = true;
                toggle.dispatchEvent(new Event('change'));
            });
        }

        function uncheckAll() {
            document.querySelectorAll(".column-toggle").forEach(function(toggle) {
                if (parseInt(toggle.getAttribute("data-column-index")) !== 0) {
                    toggle.checked = false;
                    toggle.dispatchEvent(new Event('change'));
                }
            });
        }
    </script>
</body>
</html>