<nav>
    <ul class="navbar">
        <li class="nav-item dropdown">
            <a>CERP</a>
            <ul class="dropdown-menu">
                <li><a href="\tableau_synthese\">Tableau Synthèse</a></li>
                <li><a href="\tableau_grossiste\">Tableau Grossiste CERP</a></li>
                <li><a href="\tableau_simplifie\">Tableau Simplifié</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a>ALLIANCE</a>
            <ul class="dropdown-menu">
                <li><a href="\tableau_alliance\">Tableau Alliance</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a>GÉNÉRIQUEURS</a>
            <ul class="dropdown-menu">
                <li><a href="\tableau_generiques\">Tableau Génériques</a></li>
                <li><a href="\tableau_teva\">Tableau TEVA</a></li>
                <li><a href="\tableau_eg\">Tableau EG</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a>Gestion</a>
            <ul class="dropdown-menu">
                <li><a href="\">Importer des factures</a></li>
                <li><a href="\upload_catalogue_excel\">Importer un catalogue produit</a></li>
                <li><a href="\telecharger_achats\">Télécharger une liste d'achats</a></li>
            </ul>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item logout">
                <a href="{% url 'App:logout' %}?next={{ request.path }}">Se déconnecter</a>
            </li>
        {% endif %}
    </ul>
</nav>